page-present {

  .toolbar-background { background-color: #404040 !important; }
  .toolbar-title { color: #FFFFFF; }

  ion-img {
    width: auto;
    align-items: center;
    margin : auto;
    display: block;
  }


  ion-grid {
    width: 100%;
  }

  .tete {
      text-align: center;
  }

  .col{
    background: #404040;
    border: think solid black;
    text-color: light;
  }

  h2{
    font-family: MarkerFelt !important;
  }

  .p1{
    font-family: MarkerFelt !important;
    font-weight: normal !important;
    font-size: 16px !important;
  }

  ion-card-title{
    font-family: MarkerFelt !important;
  }

  button{
    background-color: #404040 !important;
    box-shadow: none !important;
    margin: none !important;
    padding: none !important;
  }

  ion-icon,.textT{
    color: white;
  }

  .textT,.main{
    font-size: 12px;
    margin-top: 0px !important;
  }

  .mainB,.mainC,.add{
    font-size: 25px;
    padding: 0;
    padding-bottom: 17px !important;
    margin: 0;
    margin-bottom: 0px !important;
  }

  .main,.mainB{
    color: #1E90FF !important;
  }

  .add{
    margin-top: 9px;
    font-size: 25px;
  }

  ion-footer{
    height: 75px;
  }




}
