page-register {

  .toolbar-background { background-color: #404040 !important; }
  .toolbar-title { color: #FFFFFF; }

  .immersion-register {
    background-image: url('../immersion.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    flex: 1;
    flex-direction: column;
  }
  .scroll-content {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  ion-scroll{
    height: 200px;
  }

  ion-card.card {
    box-shadow: none;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }

  .card-md .item-inner { border-bottom: 1px solid #dedede !important; }



  a, p,
  ion-card-header.card-header {
    color: #fff!important;
  }

  .list > .item-block:first-child {
    border: medium none;
  }

  .item {
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.5);
    border: medium none;

    .text-input, {
      color: #fff;
    }



    input::-moz-placeholder  {
      color: #fff!important;
    }

    input:-moz-placeholder {
      color: #fff!important;
    }

    *::-webkit-input-placeholder  {
      color: #fff!important;
    }

    *:-ms-input-placeholder  {
      color: #fff!important;
    }

    *:-moz-placeholder  {
      color: #fff!important;
    }

  }

  .icon {
    padding-right: 10px;
  }

  .bottom {
    position: absolute;
    bottom: 0;
  }
}
