page-evenements {
  .toolbar-background { background-color: #404040 !important; }
  .toolbar-title { color: #FFFFFF; }

  ion-grid {
    width: 100%;
  }

  .col{
    background: #404040;
    border: think solid black;
    text-color: light;
  }
}
