page-popover {
    button{
      background-color: #404040 !important;
    }
    ion-content{
      background-color: #404040 !important;
    }
    p{
      color: white !important;
    }
    button{
      box-shadow: none !important;
    }
}
